.mobile-menu {
  background: #ffffff;

  &__list {
    list-style: none;
  }

  &__item {
    padding-top: 30px;
    padding-bottom: 30px;

    a {
      font-weight: bold;
      font-size: 17px;
      line-height: 24px;
      color: #000000;
      text-decoration: none;
    }
  }
}
