.page-header {
  font-size: 17px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;

  &__logo {
    width: 86px;
    height: 35px;
    margin: 0 auto;
  }
}

@media @tablet-widths {
  .page-header {
    &__logo {
      margin: 0;
    }
  }
}

@media @desktop-widths {
  .page-header {
    &__logo {
      margin: 0 auto;
    }
  }
}
